<!--
  Generated template for the AcudientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Acudientes y Familiares</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/imgs/acudientes.jpg"/>
    </ion-card-header>
    <ion-card-content>
      <h1 text-center>Acudientes y Familiares</h1>
    </ion-card-content>
  </ion-card>
  <ion-list>    
      <h1 text-center>Acudiente Principal</h1>
      <!-- Nombre 1 acudiente       -->
      <ion-item>
        <ion-label floating>Nombre 1 Acudiente</ion-label>
        <ion-input type="text" [(ngModel)]="cliente.acudientes.acudientePrincipal.nombre1"></ion-input>
      </ion-item>
      <!-- Nombre 2 acudiente -->
      <ion-item>
          <ion-label floating>Nombre 2 Acudiente</ion-label>
          <ion-input type="text" [(ngModel)]="cliente.acudientes.acudientePrincipal.nombre2"></ion-input>
      </ion-item>
      <!-- Apellido 1 -->
      <ion-item>
          <ion-label floating>Appelido 1 Acudiente</ion-label>
          <ion-input type="text" [(ngModel)]="cliente.acudientes.acudientePrincipal.apellido1"></ion-input>
      </ion-item>
      <!-- Apellido 2 -->
      <ion-item>
          <ion-label floating>Appelido 2 Acudiente</ion-label>
          <ion-input type="text" [(ngModel)]="cliente.acudientes.acudientePrincipal.apellido2"></ion-input>
      </ion-item>      
      <!-- Cedula -->
      <ion-item>
        <ion-label floating>Cédula Acudiente</ion-label>
        <ion-input type="text" [(ngModel)]="cliente.acudientes.acudientePrincipal.cedula"></ion-input>
      </ion-item>  
      <!-- Parentesco -->
      <ion-item>
        <ion-label>Parentesco</ion-label>
        <ion-select [(ngModel)]="cliente.acudientes.acudientePrincipal.parentesco">
          <ion-option value="Amigo/a.">Amigo/a</ion-option>          
          <ion-option value="Hermano/a">Hermano/a</ion-option>
          <ion-option value="Tio/a">Tio/a</ion-option>
          <ion-option value="Abuelo/a">Abuelo/a</ion-option>
          <ion-option value="Primo/a">Primo/a</ion-option>
        </ion-select>
      </ion-item>    
    </ion-list>
    <ion-list>    
      <h1 text-center>Acudiente Secundario</h1>
      <!-- Nombre 1 acudiente       -->
      <ion-item>
        <ion-label floating>Nombre 1 Acudiente Secundario</ion-label>
        <ion-input type="text" [(ngModel)]="cliente.acudientes.acudienteSecundario.nombre1"></ion-input>
      </ion-item>
      <!-- Nombre 2 acudiente -->
      <ion-item>
          <ion-label floating>Nombre 2 Acudiente Secundario</ion-label>
          <ion-input type="text" [(ngModel)]="cliente.acudientes.acudienteSecundario.nombre2"></ion-input>
      </ion-item>
      <!-- Apellido 1 -->
      <ion-item>
          <ion-label floating>Appelido 1 Acudiente Secundario</ion-label>
          <ion-input type="text" [(ngModel)]="cliente.acudientes.acudienteSecundario.apellido1"></ion-input>
      </ion-item>
      <!-- Apellido 2 -->
      <ion-item>
          <ion-label floating>Appelido 2 Acudiente Secundario</ion-label>
          <ion-input type="text" [(ngModel)]="cliente.acudientes.acudienteSecundario.apellido2"></ion-input>
      </ion-item>
      <!-- Cedula -->
      <ion-item>
        <ion-label floating>Cédula Acudiente Secundario</ion-label>
        <ion-input type="text" [(ngModel)]="cliente.acudientes.acudienteSecundario.cedula"></ion-input>
      </ion-item>    
      <!-- Parentesco -->
      <ion-item>
        <ion-label>Parentesco</ion-label>
        <ion-select [(ngModel)]="cliente.acudientes.acudienteSecundario.parentesco">
          <ion-option value="Amigo/a.">Amigo/a</ion-option>          
          <ion-option value="Hermano/a">Hermano/a</ion-option>
          <ion-option value="Tio/a">Tio/a</ion-option>
          <ion-option value="Abuelo/a">Abuelo/a</ion-option>
          <ion-option value="Primo/a">Primo/a</ion-option>
        </ion-select>
      </ion-item>  
    </ion-list>
    <!-- Parientes -->
    <ion-list>       
      <h1 text-center>Parientes</h1>         
      <ion-item>
          <button *ngIf="boolContador"  ion-fab (click)="agregarPariente()"><ion-icon name="add"></ion-icon></button>          
      </ion-item>
      <ion-item-sliding *ngFor="let pariente of parientes; let i = index">          
        <ion-item>
          <br>
          <h1>Pariente {{i+1}}</h1>
        </ion-item>
      <!-- Nombre 1 -->      
      <ion-item>
          <ion-label floating>Nombre 1 Pariente</ion-label>
          <ion-input type="text" [(ngModel)]="pariente.nombre1"></ion-input>
        </ion-item>
        <!-- Nombre 2 -->
        <ion-item>
          <ion-label floating>Nombre 2 Pariente</ion-label>
          <ion-input type="text" [(ngModel)]="pariente.nombre2"></ion-input>
        </ion-item>
        <!-- Apellido1 -->
        <ion-item>
            <ion-label floating>Appelido 1 Pariente</ion-label>
            <ion-input type="text" [(ngModel)]="pariente.apellido1"></ion-input>
        </ion-item>
        <!-- Cedula -->
        <ion-item>
          <ion-label floating>Cédula Pariente</ion-label>
          <ion-input type="text" [(ngModel)]="pariente.cedula"></ion-input>
        </ion-item>
        <!-- Tel 1 -->
        <ion-item>
          <ion-label floating>Teléfono 1</ion-label>
          <ion-input type="text" [(ngModel)]="pariente.tel1"></ion-input>
        </ion-item>
        <!-- Tel 2 -->
        <ion-item>
          <ion-label floating>Teléfono 2</ion-label>
          <ion-input type="text" [(ngModel)]="pariente.tel2"></ion-input>
        </ion-item>
        <!-- Email -->
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" [(ngModel)]="pariente.email"></ion-input>
        </ion-item>
        <!-- Parentesco -->
        <ion-item>
          <ion-label>Parentesco</ion-label>
          <ion-select [(ngModel)]="pariente.parentesco">
            <ion-option value="Amigo/a.">Amigo/a</ion-option>          
            <ion-option value="Hermano/a">Hermano/a</ion-option>
            <ion-option value="Tio/a">Tio/a</ion-option>
            <ion-option value="Abuelo/a">Abuelo/a</ion-option>
            <ion-option value="Primo/a">Primo/a</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <button ion-fab (click)="agregarPariente()"><ion-icon name="add"></ion-icon></button>          
        </ion-item>
      </ion-item-sliding>
      
    </ion-list>
    <button ion-button full (click)="irAVistaDatosMedicos(cliente)">Datos Médicos</button>
</ion-content>
