<!--
  Generated template for the MedicamentosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Kardex Medicamentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/imgs/medicamentos.jpg" />
    </ion-card-header>
    <ion-card-content>
      Medicamentos
    </ion-card-content>
  </ion-card>
  


  <ion-list>                     
      <ion-item>
          <button *ngIf="boolContador"  ion-fab (click)="agregarMedicamento()"><ion-icon name="add"></ion-icon></button>          
      </ion-item>
      <ion-item-sliding *ngFor="let medicamento of medicamentos; let i = index">          
        <ion-item>          
          <h1>Medicamento {{i+1}}</h1>
        </ion-item>
        <ion-item>
            <ion-label floating>Nombre Medicamento</ion-label>
            <ion-input type="text" [(ngModel)]="medicamento.nombreMedicamento"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Dosis</ion-label>
              <ion-input type="text" [(ngModel)]="medicamento.dosisMedicamento"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Horario</ion-label>
                <ion-input type="text" [(ngModel)]="medicamento.horarioMedicamento"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Vía de Administración</ion-label>
                  <ion-select [(ngModel)]="medicamento.viaMedicamento">
                    <ion-option value="Inhalado">Inhalado</ion-option>
                    <ion-option value="Oftalmológico">Oftalmológico</ion-option>
                    <ion-option value="Inyectado">Inyectado</ion-option>
                    <ion-option value="Tópico">Tópico</ion-option>
                    <ion-option value="Nasal">Nasal</ion-option>
                    <ion-option value="Rectal">Rectal</ion-option>
                    <ion-option value="Oposito.">Oposito.</ion-option>
                    <ion-option value="Parche">Parche</ion-option>
                    <ion-option value="Oral">Oral</ion-option>
                    <ion-option value="Otro">Otro</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                      <img src="{{medicamento.fotoMedicamento}}">
                    </ion-thumbnail>
                    <h2>FOTO FORMULA</h2>
                    <button ion-button full (click)="uploadHandler(i)">Tomar Foto</button>
                  </ion-item>
                  <ion-item>
                    <button ion-fab (click)="agregarMedicamento()">
                      <ion-icon name="add"></ion-icon>
                    </button>
                  </ion-item>
                  <hr>
      </ion-item-sliding>      
    </ion-list>
  <button ion-button full (click)="guardarClienteVolverHome()">Guardar Paciente</button>
</ion-content>